<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Signin</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #f ="ngForm" (ngSubmit)="onSignIn(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" ngModel name="password" required [minlength]="6"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit"  [disabled]="!f.valid">Sign In</button>
  </form>
</ion-content>
