
<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{mode}} recipe</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding >
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Difficulty</ion-label>
      <ion-select formControlName="difficulty">
        <ion-option *ngFor="let option of selectOption" [value]="option">
          {{ option}}
        </ion-option>
      </ion-select>
    </ion-item>

    <button ion-button
            type="button"
            clear
            block
            (click)="onManageIngredients()">Manage Ingredients</button>

    <ion-list formArrayName="ingredients">
      <ion-item
        *ngFor="let igControl of recipeForm.get('ingredients').controls; let i = index">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [formControlName]="i"></ion-input>
      </ion-item>
    </ion-list>

    <button type="submit"
            ion-button
            block
            [disabled]="!recipeForm.valid">{{mode}} Recipe</button>
  </form>

</ion-content>
