<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="onLoad(rootPage)" *ngIf="isAuthticated">
        <ion-icon name="book" item-left></ion-icon>
        Recipe Book
      </button>
      <button ion-item (click)="onLoad(sigininPage)" *ngIf="!isAuthticated">
        <ion-icon name="log-in" item-left></ion-icon>
        Signin
      </button>

      <button ion-item (click)="onLoad(signupPage)" *ngIf="!isAuthticated">
        <ion-icon name="person" item-left></ion-icon>
        Signup
      </button>

      <button ion-item (click)="onLogout()" *ngIf="isAuthticated">
        <ion-icon name="log-out" item-left></ion-icon>
        Logout
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
